<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Afik/IdeaProjects/FinalProj">
        <classes>
            <class name="tests.Login">
                <methods>
                    <include name="tc01_SignIn"/>
                    <include name="tc02_SignInInvalidEmail"/>
                    <include name="tc03_SignInInvalidPassword"/>
                    <include name="tc04_PasswordRecovery"/>
                    <include name="tc05_PasswordRecoveryUnregisteredMail"/>
                </methods>
            </class>
            <class name="tests.ShoppingCart">
                <methods>
                    <include name="validSignIN"/>
                    <include name="chooseProduct"/>
                    <include name="BuyTShirt"/>
                    <include name="colorSelection"/>
                </methods>
            </class>
            <class name="tests.SignUp">
                <methods>
                    <include name="SignUpValid"/>
                    <include name="SignUpInvalid"/>
                    <include name="InvalidEmail"/>
                    <include name="UsedMail"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>